---
import '../styles/global.css';
import { Font } from 'astro:assets';
import { getLangFromUrl } from '../i18n/utils';
import AboutMe from '../components/AboutMe.astro';
import ContactMe from '../components/ContactMe.astro';
import Footer from '../components/Footer.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import { profile } from '../data/profile';
import topographicMap from '../assets/images/topographic-map.png';

const lang = getLangFromUrl(Astro.url);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-jetbrains-mono" />
    <title>{profile.name}</title>
  </head>
  <body>
    <div class="min-h-dvh flex items-center justify-center p-2">
      <main class="w-full sm:max-w-lg md:max-w-3/4 lg:max-w-1/2 flex flex-col gap-4">
        <AboutMe lang={lang} />
        <div class="flex flex-col lg:flex-row gap-4 min-h-1/2">
          <Experience lang={lang} />
          <Projects lang={lang} />
        </div>
        <ContactMe />
        <Footer />
      </main>
    </div>

    <style define:vars={{ bgUrl: `url(${topographicMap.src})` }}>
      body {
        color: white;
        font-family: var(--font-jetbrains-mono);
        min-height: 100dvh;
        background-color: var(--color-background);
        background-image: var(--bgUrl);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
  </body>
</html>
